@model AptechMVCProject.Entity.ModelView;
@{
    ViewBag.Title = "Detail Page";
}
<div>
    <h1>Thông tin chi tiêt sản phẩm</h1>
    <p>
        Tên sản phẩm: @Model.product.Result.Name
    </p>
    <p>
        Mô tả sản phẩm:@Model.product.Result.Desc
    </p>
    <p>
        Hình ảnh sản phẩm:  <img class="phone-image"src=@Model.product.Result.Img alt="">
    </p>
</div>