@model AptechMVCProject.Entity.Product;
@{
    ViewBag.Title = "Detail Page";
}
<div>
    <h1>Thông tin chi tiêt sản phẩm</h1>
    <p>
        Tên sản phẩm: @Html.DisplayFor(modelItem => Model.Name)
    </p>
    <p>
        Mô tả sản phẩm: @Html.DisplayFor(modelItem => Model.Desc)
    </p>
    <p>
        Hình ảnh sản phẩm:  <img class="phone-image"src=@Model.Img alt="">
    </p>
</div>