@{
    ViewBag.Title = "Home Page";
}
<!-- One -->
<section id="one" class="wrapper style2">
    <div class="inner">
        <div class="grid-style">
            <div>
                <div class="box">
                    <div class="image fit">
                        <img src="~/images/Ca-Phe-Khang-Thinh-File-In.png" alt="" />
                    </div>
                    <div class="content">
                        <header class="align-center">
                            <p>Bán chạy nhất</p>
                            <h2>Robusta Honey</h2>
                        </header>
                        <p>Nghe qua cái tên Robusta Honey, đôi khi lầm tưởng rằng phương pháp này sử dụng mật ong để
                            trộn lẫn với cà phê. Nhưng thực tế,...</p>
                        <footer class="align-center">
                            <a href="#" class="button alt">Xem thêm</a>
                        </footer>
                    </div>
                </div>
            </div>

            <div>
                <div class="box">
                    <div class="image fit">
                        <img src="~/images/Promo.jpg" alt="" />
                    </div>
                    <div class="content">
                        <header class="align-center">
                            <p>Khuyến mãi</p>
                            <h2>Chương trình khuyến mãi tháng 12/2020</h2>
                        </header>
                        @* <p> Cras aliquet urna ut sapien tincidunt, quis malesuada elit facilisis. Vestibulum sit amet
                            tortor velit. Nam elementum nibh a libero pharetra elementum. Maecenas feugiat ex purus,
                            quis volutpat lacus placerat malesuada.</p> *@
                        <footer class="align-center">
                            <a href="#" class="button alt">Learn More</a>
                        </footer>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<!-- Two -->
<section id="two" class="wrapper style3">
    <div class="inner">
        <header class="align-center">
            <h2>Giới Thiệu</h2>
            <p>Khang Thịnh Coffee ra đời vào năm 1960 với sứ mệnh cung cấp nguồn cà phê sạch, nguyên chất, chất lượng
                đến vơi người dùng trong và ngoài nước.Với kinh nghiệm hơn 20 năm trong nghề và vẫn đang phát triễn vững
                chắc Khang Thịnh luôn sẵn lòng Phục vụ quý khách hàng</p>
        </header>
    </div>
</section>

<!-- Three -->
<section id="three" class="wrapper style2">
    <div class="inner">
        <header class="align-center">
            <h2>Chuỗi hệ thống cà phê Khang Thịnh</h2>
            @* <p class="special">Nam vel ante sit amet libero scelerisque facilisis eleifend vitae urna</p> *@
        </header>
        <div class="gallery">
            <div>
                <div class="image fit">
                    <a href="#"><img src="~/images/Shop1.jpg" alt="" /></a>
                </div>
            </div>
            <div>
                <div class="image fit">
                    <a href="#"><img src="~/images/Shop2.jpg" alt="" /></a>
                </div>
            </div>
            <div>
                <div class="image fit">
                    <a href="#"><img src="~/images/Shop3.jpg" alt="" /></a>
                </div>
            </div>
            <div>
                <div class="image fit">
                    <a href="#"><img src="~/images/Shop4.jpg" alt="" /></a>
                </div>
            </div>
        </div>
    </div>
</section>
