@{
    ViewBag.Title = "About Page";
}

<div class="about-container">
    <p class="about-tilte">Giá trị Khang Thịnh mang đến</p>
    <div class="about-elements">
        <div class="about-group">
            <div class="about-element">
                <i class="fa fas fa-bullhorn"></i>
                <strong>Sự Minh Bạch</strong>
                <p>Luôn cởi mở với thành viên trong công ty và khách hàng, nêu ra các vấn đề và cung cấp giải pháp thích ứng.</p>
            </div>
            <div class="about-element">
                <i class="fa fas fa-check"></i>
                <strong>Sự cam kết</strong>
                <p>Lời nói và làm việc chăm chỉ luôn đi đầu. Khách hàng và tầm nhìn luôn là sự chỉ dẫn cho chúng tôi.</p>
            </div>
        </div>
        <div class="about-group">
            <div class="about-element">
                <i class="fa fas fa-angle-double-up"></i>
                <strong>Đổi mới</strong>
                <p>Không ngừng học hỏi, không ngừng phát triển để có thể trở thành 1 công ty đi đầu về chất lượng cũng như các phương pháp tiên tiến trong lĩnh vực cà phê</p>
            </div>
            <div class="about-element">
                <i class="fa fa-fighter-jet"></i>
                <strong>Vượt qua giới hạn</strong>
                <p>Trao cho khách hàng giá trị nhiều hơn kì vọng mỗi ngày.</p>
            </div>
        </div>
    </div>
</div>