ol,
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #444444;
}

ol,
ul li {
    margin: 0;
    padding: 0;
}

.products {
    background-color: #F4F4F4;
    align-items: center;
    padding: 20px;
}

.store-body {
    background-color: #FFFFFF;
    display: flex;
    border-radius: 6px;
}

.menu-left {
    border-right: 2px solid #F4F4F4;
    min-width: 15%;
}

.menu-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 85%;
}

    .menu-content .product-area {
        flex-basis: 33%;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 20px;
        max-width: 85%;
        margin: 20px auto;
    }

        .menu-content .product-area ul {
            &:nth-child(3n+1)

{
    grid-column: 1;
}

&:nth-child(3n+2) {
    grid-column: 2;
}

&:nth-child(3n+3) {
    grid-column: 3;
}

&:nth-child(3n+4) {
    grid-column: 1;
}

}



.menu-content .product-area ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    min-width: 250px;
    min-height: 450px;
    transition: all 0.25s;
}

    .menu-content .product-area ul li a {
        text-decoration: none;
        color: #000;
    }

.vnd {
    font-size: 20px;
    font-weight: 400;
    text-decoration: underline;
}


.menu-content .product-area ul:hover {
    box-shadow: rgba(183, 185, 185)0px 7px 29px 0px;
}

.menu-left ul li {
    margin: 5px;
    border-radius: 4px;
    padding: 10px;
    background-color: white;
    transition: all 0.25s;
    align-items: center;
    text-align: center;
}

    .menu-left ul li:hover {
        color: white;
        background-color: #007FFF;
    }

.menu-link {
    align-items: center;
    justify-content: flex-start;
    display: flex;
    flex-direction: row;
    width: 100%;
    min-height: 50px;
    background-color: #EDEDED;
}

.icon_menu_link {
    font-size: 50px;
    color: tomato;
}

.menu-link a {
    margin: 15px;
    color: #999999;
    text-decoration: none;
}

.menu-filter {
    color: #999999;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

    .menu-filter a {
        text-decoration: none;
        padding: 10px;
        border-radius: 4px;
        color: black;
    }

        .menu-filter a:hover {
            color: white;
            background-color: #0C5CB6;
        }

.icon_filter {
    margin-right: 5px;
}

.phone-image {
    max-width: 256px;
    max-height: 363px;
}
.l-container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.c-col5 {
    width: 50%;
}

.c-flexblock {
    display: flex;
}

.p-detail__sc1 {
    padding: 80px 0;
}

    .p-detail__sc1 .main_img {
        width: 100%;
    }

        .p-detail__sc1 .main_img img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

    .p-detail__sc1 .c-detail {
        align-items: center;
    }

    .p-detail__sc1 .c-detail_name {
        font-size: 2.5rem;
        font-family: 'Open Sans', sans-serif;
        font-weight: bold;
    }

    .p-detail__sc1 .c-description__title1 {
        display: block;
        margin-top: 30px;
        font-size: 1.5rem;
        font-family: 'Open Sans', sans-serif;
        font-weight: bold;
        color: #5e0000;
        ;
    }

    .p-detail__sc1 .c-detail_inner {
        width: calc(50% - 50px);
        margin-left: 50px;
    }

    .p-detail__sc1 .c-detail_img img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .p-detail__sc1.quantity-selector {
        max-width: 50px;
        margin: 0 10px;
    }

.quantity-area.clearfix {
    margin-bottom: 20px;
}

.quantity-area input.qty-btn {
    float: left;
    background: #f5f5f5;
    border: solid 1px #f5f5f5;
    cursor: pointer;
    font-weight: 600;
    font-size: 16px;
    outline: none;
    height: 32px;
    width: 32px;
    text-align: center;
    border-radius: 0;
}

.quantity-area input#quantity {
    background: #fff;
    font-weight: 600;
    height: 32px;
    margin: 0 15px;
    padding: 0;
    text-align: center;
    width: 70px;
    border: 1px solid #f5f5f5;
    border-left: none;
    border-right: none;
    border-radius: 1px;
    float: left;
    -webkit-appearance: none;
}

.quantity-area input.qty-btn {
    float: left;
    background: #f5f5f5;
    border: solid 1px #f5f5f5;
    cursor: pointer;
    font-weight: 600;
    font-size: 16px;
    outline: none;
    height: 32px;
    width: 32px;
    text-align: center;
    border-radius: 0;
}

.selector-actions {
    display: flex;
    flex-direction: column;
}

.wrap-addcart {
}

.add-to-cartProduct {
    height: 40px;
    max-width: 250px;
    width: 100%;
    background: none;
    font-size: 20px;
    font-family: 'Open Sans';
    border: 1px solid #5e0000;
    color: #5e0000;
    text-transform: uppercase;
}

    .add-to-cartProduct:hover {
        background-color: #5e0000;
        color: #fff;
    }

.header_top {
    display: flex;
    align-items: center;
    padding: 0 30px;
}

.c-mainvisual {
    background: url(../images/about-us3.jpg);
    background-size: cover;
    width: 100vw;
    height: 450px;
    position: relative;
    text-align: center;
}

.c-mainvisual__inner {
    position: absolute;
    top: calc(50% + -10px);
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
}

    .c-mainvisual__inner span {
        display: block;
    }

    .c-mainvisual__inner .c-text1 {
        font-size: 4rem;
        color: #5e0000;
        text-transform: uppercase;
    }

    .c-mainvisual__inner .c-text2 {
        font-size: 2rem;
    }

header ul {
    list-style: none;
    display: flex;
}

    header ul li {
        padding: 0 20px;
    }

        header ul li a {
            font-size: 25px;
            font-family: cursive;
            font-weight: 700;
        }


.c-price_text2 {
    font-size: 44px;
    color: red;
}
.buttons_added {
    opacity: 1;
    display: inline-block;
    display: -ms-inline-flexbox;
    display: inline-flex;
    white-space: nowrap;
    vertical-align: top;
    margin-bottom: 40px;
}

.is-form {
    overflow: hidden;
    position: relative;
    background-color: #f9f9f9;
    height: 2.2rem;
    width: 1.9rem;
    padding: 0;
    text-shadow: 1px 1px 1px #fff;
    border: 1px solid #ddd;
}

    .is-form:focus, .input-text:focus {
        outline: none;
    }

    .is-form.minus {
        border-radius: 4px 0 0 4px;
    }

    .is-form.plus {
        border-radius: 0 4px 4px 0;
    }

.input-qty {
    background-color: #fff;
    height: 2.2rem;
    text-align: center;
    font-size: 1rem;
    display: inline-block;
    vertical-align: top;
    margin: 0;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    border-left: 0;
    border-right: 0;
    padding: 0;
}

    .input-qty::-webkit-outer-spin-button, .input-qty::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
.add-to-cartProduct:hover {
    background-color: #5e0000;
    color: #fff;
}
.buttons_added {
    opacity: 1;
    display: inline-block;
    display: -ms-inline-flexbox;
    display: inline-flex;
    white-space: nowrap;
    vertical-align: top;
}

.is-form {
    overflow: hidden;
    position: relative;
    background-color: #f9f9f9;
    height: 2.2rem;
    width: 1.9rem;
    padding: 0;
    text-shadow: 1px 1px 1px #fff;
    border: 1px solid #ddd;
}

    .is-form:focus, .input-text:focus {
        outline: none;
    }

    .is-form.minus {
        border-radius: 4px 0 0 4px;
    }

    .is-form.plus {
        border-radius: 0 4px 4px 0;
    }

.input-qty {
    background-color: #fff;
    height: 42px;
    text-align: center;
    font-size: 1rem;
    display: inline-block;
    vertical-align: top;
    margin: 0;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    border-left: 0;
    border-right: 0;
    padding: 0;
}

    .input-qty::-webkit-outer-spin-button, .input-qty::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
.add-to-cartProduct:hover {
    background-color: #5e0000;
    color: #fff;
}