ol,
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #444444;
}

ol,
ul li {
    margin: 0;
    padding: 0;
}

.products {
    background-color: #F4F4F4;
    align-items: center;
    padding: 20px;
}

.store-body {
    background-color: #FFFFFF;
    display: flex;
    border-radius: 6px;
}

.menu-left {
    border-right: 2px solid #F4F4F4;
    min-width: 15%;
}

.menu-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 85%;
}

    .menu-content .product-area {
        flex-basis: 33%;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 20px;
        max-width: 85%;
        margin: 20px auto;
    }

        .menu-content .product-area ul {
            &:nth-child(3n+1)

{
    grid-column: 1;
}

&:nth-child(3n+2) {
    grid-column: 2;
}

&:nth-child(3n+3) {
    grid-column: 3;
}

&:nth-child(3n+4) {
    grid-column: 1;
}

}



.menu-content .product-area ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    min-width: 250px;
    min-height: 450px;
    transition: all 0.25s;
}

    .menu-content .product-area ul li a {
        text-decoration: none;
        color: #000;
    }

.vnd {
    font-size: 20px;
    font-weight: 400;
    text-decoration: underline;
}


.menu-content .product-area ul:hover {
    box-shadow: rgba(183, 185, 185)0px 7px 29px 0px;
}

.menu-left ul li {
    margin: 5px;
    border-radius: 4px;
    padding: 10px;
    background-color: white;
    transition: all 0.25s;
    align-items: center;
    text-align: center;
}

    .menu-left ul li:hover {
        color: white;
        background-color: #007FFF;
    }

.menu-link {
    align-items: center;
    justify-content: flex-start;
    display: flex;
    flex-direction: row;
    width: 100%;
    min-height: 50px;
    background-color: #EDEDED;
}

.icon_menu_link {
    font-size: 50px;
    color: tomato;
}

.menu-link a {
    margin: 15px;
    color: #999999;
    text-decoration: none;
}

.menu-filter {
    color: #999999;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

    .menu-filter a {
        text-decoration: none;
        padding: 10px;
        border-radius: 4px;
        color: black;
    }

        .menu-filter a:hover {
            color: white;
            background-color: #0C5CB6;
        }

.icon_filter {
    margin-right: 5px;
}

.phone-image {
    max-width: 256px;
    max-height: 363px;
}
.l-container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.c-col5 {
    width: 50%;
}

.c-flexblock {
    display: flex;
}
.p-detail__sc1{
    padding: 80px 0;
}
.p-detail__sc1 .main_img {
    width: 100%;
}

    .p-detail__sc1 .main_img img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

.p-detail__sc1 .c-detail {
   align-items: center;
}

.p-detail__sc1 .sub_img {
    display: flex;
}

    .p-detail__sc1 .sub_img .img_item {
        width: calc(25% - 5px);
        margin: 0 5px;
    }

.p-detail__sc1 .c-detail_inner {
    width: calc(50 - 50px);
    margin-left: 50px;
}

.p-detail__sc1.quantity-selector {
    max-width: 50px;
    margin: 0 10px;
}

.p-detail__sc1 #featured {
    max-width: 500px;
    max-height: 600px;
    object-fit: cover;
    cursor: pointer;
    border: 2px solid black;
}

.p-detail__sc1 .thumbnail {
    object-fit: cover;
    max-width: 180px;
    max-height: 100px;
    cursor: pointer;
    opacity: 0.5;
    margin: 5px;
    border: 2px solid black;
}

    .p-detail__sc1 .thumbnail:hover {
        opacity: 1;
    }

.p-detail__sc1 .active {
    opacity: 1;
}

.p-detail__sc1 #slide-wrapper {
    max-width: 500px;
    display: flex;
    min-height: 100px;
    align-items: center;
}

.p-detail__sc1 #slider {
    width: 440px;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
}

    .p-detail__sc1 #slider::-webkit-scrollbar {
        width: 8px;
    }

    .p-detail__sc1 #slider::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    }

    .p-detail__sc1 #slider::-webkit-scrollbar-thumb {
        background-color: #dede2e;
        outline: 1px solid slategrey;
        border-radius: 100px;
    }

        .p-detail__sc1 #slider::-webkit-scrollbar-thumb:hover {
            background-color: #18b5ce;
        }

.p-detail__sc1 .arrow {
    width: 30px;
    height: 30px;
    cursor: pointer;
    transition: .3s;
}

    .p-detail__sc1 .arrow:hover {
        opacity: .5;
        width: 35px;
        height: 35px;
    }
    .p-detail__sc1 .c-detail_name {
        font-size: 2.5rem;
        font-family: 'Poppins', sans-serif;
        font-weight: bold;
    }
    .p-detail__sc1 .c-description{
        margin-top: 50px;
    }
    .p-detail__sc1 .c-description__title1 {
        font-size: 1.5rem;
        font-family: 'Poppins', sans-serif;
        font-weight: bold;
        color: #5e0000;
        display: block;
    }
.quantity-area input.qty-btn {
    float: left;
    background: #f5f5f5;
    border: solid 1px #f5f5f5;
    cursor: pointer;
    font-weight: 600;
    font-size: 16px;
    outline: none;
    height: 32px;
    width: 32px;
    text-align: center;
    border-radius: 0;
}
.quantity-area input#quantity {
    background: #fff;
    font-weight: 600;
    height: 32px;
    padding: 0;
    text-align: center;
    width: 70px;
    border: 1px solid #f5f5f5;
    border-left: none;
    border-right: none;
    border-radius: 1px;
    float: left;
    -webkit-appearance: none;
}
.quantity-area input.qty-btn {
    float: left;
    background: #f5f5f5;
    border: solid 1px #f5f5f5;
    cursor: pointer;
    font-weight: 600;
    font-size: 16px;
    outline: none;
    height: 32px;
    width: 32px;
    text-align: center;
    border-radius: 0;
}
.selector-actions{
    display: flex;
    flex-direction: column;
}
.wrap-addcart clearfix{
    margin-top: 20px;
}